*.sh text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.desktop text eol=lf
*.service text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.ps1 text eol=crlf
*.7z binary
*.tar* binary